/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

$color1: #fff;
$color2: orange;
$color3: blue;
$color4: yellow;
$color5: #e5e5e5;
$color6: rgba(0, 0, 0, .05);

@mixin border($side: 'all', $color: $color5, $width: 1px) {
    @if($side == 'all') {
        border: $width solid $color;
    }

    @if($side == 'top') {
        border-top: $width solid $color;
    }

    @if($side == 'bottom') {
        border-bottom: $width solid $color;
    }

    @if($side == 'left') {
        border-left: $width solid $color;
    }

    @if($side == 'right') {
        border-right: $width solid $color;
    }
}



#audio {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
    text-align: center;
}

audio {
    max-width: 800px;
    width: inherit;
    margin: 0 50px;
}

.track-play {
    background: url('../img/play.png');
}

.track-pause {
    background: url('../img/pause.png');
}

.track-play, .track-pause {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: contain;
}

.track-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .track-group {
        display: flex;
        flex-direction: column;
        text-align: left;

        & > div {
            width: 100%;
        }
    }
}

.track-group {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;

    & > div {
        width: 50%;
    }
}
